<!DOCTYPE html>
html
    head    
        meta(charset="utf-8")
        title Техномарт
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/symbols-technomart.css" rel="stylesheet")            
        link(href="css/style.css" rel="stylesheet")
    body  
        header.main-header
            div.top-menu.clearfix
                div.top-menu__layout
                    a(href="index.html")
                        h1.top-menu.logo ТЕХНОМАРТ
                    ul.rules.clearfix
                        li
                            input(type="text" placeholder="Поиск:" name="search").rules__search 
                            i.icon-search    
                        li
                            div.rules__issue-order 
                                a(href="#") Оформить заказ                    
                        li
                            a.rules__basket.rules__basket--added 
                                i.icon-basket
                                Корзина:                
                                span.basket__count 10
                        li
                            a.rules__tab 
                                i.icon-bookmark
                                Закладки:                 
                                span.tab__count 0
            div.header-info.clearfix
                div.header-info__layout
                    p.header-info__content.             
                        Интернет-магазин
                        строительных материалов <br>             
                        и инструментов для ремонта
                    div.contacts
                        div.contacts__phone <i class="icon-phone"></i> +7 (812) 555-05-55
                        div.contacts__address                        
                            г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8                          
                    div.auth.auth--checkin.clearfix    
                        div.auth__layout
                            div.auth__name
                                a(href="#")
                                    i.icon-user 
                                    span 
                                        Равшан Джамшутович
                                a(href="#")
                                    i.icon-logout                                
                            ul.auth__menu
                                li.auth__history 
                                    a(href="#") Мои заказы
                                li.auth__profile 
                                    a(href="#") Личный кабинет                        

            nav.main-menu.clearfix   

                div.main-menu__layout

                    -items = ["Главная","Компания","Каталог","Новости","Спецпредложения","Доставка","Контакты"]

                    ul.main-menu__items

                        each item in items 

                            li.main-menu__item 
                            
                                if item == "Главная"
                                
                                    a(href="index.html") #{item}
                                    
                                else

                                    a(href="#") #{item}
        main
            div.breadcrumbs
                div.breadcrumbs__layout
                    ul.breadcrumbs__items
                        li.breadcrumbs__item
                            a(href="#")
                                i.icon-home
                                i.icon-right
                        li.breadcrumbs__item
                            a(href="#")
                                Каталог
                                i.icon-right
                        li.breadcrumbs__item
                            a(href="#")
                                Инструмент
                                i.icon-right
                        li.breadcrumbs__item
                            a(href="#")
                                Перфораторы  
            div.popular
                div.popular__layout.clearfix
                    div.popular__header--goods-name.clearfix
                        h2.popular__title Перфораторы  
            form(name="filters" method="get" action="catalog.html").catalog
                div.catalog__layout.clearfix                    
                    div.filters
                        div.filters__header Фильтр:
                        div.filters__price 
                            p Цена:
                            div.slider-price
                                div.slider-price__control-panel 
                                    &nbsp;
                                    div.slider-price__control-line
                                    div(id="line_active").slider-price__control-line.slider-price__control-line--active
                                    div(id="disc_min").slider-price__disc.slider-price__disc--min
                                    div(id="disc_max").slider-price__disc.slider-price__disc--max
                                    div(id="point_min").slider-price__point.slider-price__point--min
                                    div(id="point_max").slider-price__point.slider-price__point--max
                                div.slider-price__means
                                    div.slider-price__means-min
                                        input(type="text"  id="price_min" name="price_min" value="0")
                                    div.slider-price__means-max
                                        input(type="text"  id="price_max" name="price_max" value="30000")
                        div.filter-mans
                            p.filter-mans__header Производители:
                            ul.filter-mans__content                                   
                                - var mans = ["Bosch","Интерскол","Makita","Dewalt","Hitachi"]                    
                                    each man in mans  
                                        if(man == "Bosch" || man == "Makita")
                                            li
                                                input(type="checkbox"  name="mans" id="#{man}" checked).filter-mans__item
                                                label(for="#{man}").filter-mans__label #{man}
                                        else
                                            li
                                                input(type="checkbox"  name="mans" id="#{man}").filter-mans__item
                                                label(for="#{man}").filter-mans__label #{man}  
                        div.filter-power
                            p.filter-power__header Питание
                            ul.filter-power__content
                                - var powers = ["Аккумуляторные","Сетевые"]
                                    each power in powers                                        
                                        if(power == "Аккумуляторные")
                                            li
                                                input(type="radio" name="power" id="#{power}" checked).filter-power__item
                                                label(for="#{power}").filter-power__label #{power}                        
                                        else
                                            li
                                                input(type="radio" name="power"  id="#{power}").filter-power__item
                                                label(for="#{power}").filter-power__label #{power}                        
                                                
                        button.btn.btn--show-all Показать
                    div.catalog-items                        
                        div.catalog-items__sort.clearfix
                            div.catalog-items__sort-items 
                                    a(href="#")
                                        i.icon-up-dir.catalog-items--active                                
                                    a(href="#")
                                        i.icon-down-dir                        
                            p.catalog-items__label Сортировка:
                            ul
                                li.catalog-items--active
                                    a(href="#")  По цене
                                li
                                    a(href="#") По типу                                
                                li 
                                    a(href="#") По функционалу
                        div.catalog-items__goods                       
                            div.goods 
                                div.goods-active
                                    i.icon-basket
                                    a(href="#").goods-active__buy Купить
                                    a(href="#").goods-active__tab В закладки 
                                div.goods__image
                                    img(src="img/img_bosch_bfg3000.jpg" width="127" height="112" alt="Перфоратор BOSCH BFG 3000")
                                div.goods__layout
                                    p.goods__title Перфоратор BOSCH BFG 3000
                                    p.goods__price-old 22500 Р.
                                    div.goods__price 
                                        span 15500 Р.  
                                        div.goods__price-label.goods__price-label--top
                                        div.goods__price-label.goods__price-label--bottom                                            
                            div.goods 
                                div.goods-active
                                    i.icon-basket
                                    a(href="#").goods-active__buy Купить
                                    a(href="#").goods-active__tab В закладки                          
                                div.goods__image
                                    img(src="img/img_bosch_bfg6000.jpg" width="144" height="128" alt="Перфоратор BOSCH BFG 6000")
                                div.goods__layout
                                    p.goods__title Перфоратор BOSCH BFG 6000
                                    p.goods__price-old 30500 Р.
                                    div.goods__price 
                                        span 25500 Р.       
                                        div.goods__price-label.goods__price-label--top
                                        div.goods__price-label.goods__price-label--bottom                                            
                            div.goods 
                                div.goods-active.goods-active--active
                                    i.icon-basket
                                    a(href="#").goods-active__buy Купить
                                    a(href="#").goods-active__tab В закладки
                                div.goods__new
                                div.goods__image
                                    img(src="img/img_bosch_bfg2000.jpg" width="127" height="112" alt="Перфоратор BOSCH BFG 2000")
                                div.goods__layout
                                    p.goods__title Перфоратор BOSCH BFG 2000
                                    p.goods__price-old &nbsp;
                                    div.goods__price 
                                        span 12500 Р.    
                                        div.goods__price-label.goods__price-label--top
                                        div.goods__price-label.goods__price-label--bottom                                            
                            div.goods 
                                div.goods-active
                                    i.icon-basket
                                    a(href="#").goods-active__buy Купить
                                    a(href="#").goods-active__tab В закладки
                                div.goods__image
                                    img(src="img/img_bosch_bfg3000.jpg" width="127" height="112" alt="Перфоратор BOSCH BFG 3000")
                                div.goods__layout
                                    p.goods__title Перфоратор BOSCH BFG 3000
                                    p.goods__price-old 22500 Р.
                                    div.goods__price 
                                        span 15500 Р.  
                                        div.goods__price-label.goods__price-label--top
                                        div.goods__price-label.goods__price-label--bottom                                            
                            div.goods   
                                div.goods-active
                                    i.icon-basket
                                    a(href="#").goods-active__buy Купить
                                    a(href="#").goods-active__tab В закладки
                                div.goods__new
                                div.goods__image
                                    img(src="img/img_bosch_bfg6000.jpg" width="144" height="128" alt="Перфоратор BOSCH BFG 6000")
                                div.goods__layout
                                    p.goods__title Перфоратор BOSCH BFG 6000
                                    p.goods__price-old 30500 Р.
                                    div.goods__price 
                                        span 25500 Р.       
                                        div.goods__price-label.goods__price-label--top
                                        div.goods__price-label.goods__price-label--bottom                                            
                            div.goods  
                                div.goods-active
                                    i.icon-basket
                                    a(href="#").goods-active__buy Купить
                                    a(href="#").goods-active__tab В закладки
                                div.goods__image
                                    img(src="img/img_bosch_bfg2000.jpg" width="127" height="112" alt="Перфоратор BOSCH BFG 2000")
                                div.goods__layout
                                    p.goods__title Перфоратор BOSCH BFG 2000
                                    p.goods__price-old &nbsp;
                                    div.goods__price 
                                        span 12500 Р.     
                                        div.goods__price-label.goods__price-label--top
                                        div.goods__price-label.goods__price-label--bottom  
                            div.goods 
                                div.goods-active
                                    i.icon-basket
                                    a(href="#").goods-active__buy Купить
                                    a(href="#").goods-active__tab В закладки
                                div.goods__new
                                div.goods__image
                                    img(src="img/img_bosch_bfg3000.jpg" width="127" height="112" alt="Перфоратор BOSCH BFG 3000")
                                div.goods__layout
                                    p.goods__title Перфоратор BOSCH BFG 3000
                                    p.goods__price-old 22500 Р.
                                    div.goods__price 
                                        span 15500 Р.  
                                        div.goods__price-label.goods__price-label--top
                                        div.goods__price-label.goods__price-label--bottom
                            div.goods   
                                div.goods-active
                                    i.icon-basket
                                    a(href="#").goods-active__buy Купить
                                    a(href="#").goods-active__tab В закладки
                                div.goods__image
                                    img(src="img/img_bosch_bfg6000.jpg" width="144" height="128" alt="Перфоратор BOSCH BFG 6000")
                                div.goods__layout
                                    p.goods__title Перфоратор BOSCH BFG 6000
                                    p.goods__price-old 30500 Р.
                                    div.goods__price 
                                        span 25500 Р.       
                                        div.goods__price-label.goods__price-label--top
                                        div.goods__price-label.goods__price-label--bottom 
                            div.goods   
                                div.goods-active
                                    i.icon-basket
                                    a(href="#").goods-active__buy Купить
                                    a(href="#").goods-active__tab В закладки
                                div.goods__image
                                    img(src="img/img_bosch_bfg2000.jpg" width="127" height="112" alt="Перфоратор BOSCH BFG 2000")
                                div.goods__layout
                                    p.goods__title Перфоратор BOSCH BFG 2000
                                    p.goods__price-old &nbsp;
                                    div.goods__price 
                                        span 12500 Р. 
                                        div.goods__price-label.goods__price-label--top
                                        div.goods__price-label.goods__price-label--bottom 
                        div.paginator
                            ul.paginator__menu
                                li.paginator__menu--active
                                    a(href="#") 1
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li.paginator__next
                                    a(href="#") Следующая                                   


            div.popular.popular--gray            
                div.popular__layout.clearfix                    
                    h2.popular__title.popular__title--about ПАРА СЛОВ О ПЕРФОРАТОРАХ
                    p.popular__text.popular__text--about     
                        Перфоратор — универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне. <br> Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка. В ассортиментном ряду есть выбор «трехрежимников»: в одном устройстве будут совмещены отбойный молоток и ударная дрель.

        footer.main-footer
            div.main-footer__layout
                div.main-footer__row1.clearfix
                    a(href="index.html")
                        b.logo.logo--footer ТЕХНОМАРТ
                    ul.main-footer__menu
                        li 
                            a(href="#")
                                Компания
                        li 
                            a(href="#")
                                Новости
                        li 
                            a(href="#")
                                Каталог
                        li     
                            a(href="#")
                                Доставка
                        li      
                            a(href="#")
                                Контакты                                   
                    
                div.main-footer__row2.clearfix
                        p.
                            г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 <br>
                            +7 (812) 555-05-55                        

                        ul.main-footer__menu.main-footer__menu--submenu
                            li
                                a(href="#")
                                    Материалы
                            li
                                a(href="#")
                                    Техника
                            li
                                a(href="#")
                                    Инструмент
                            li
                                a(href="#")
                                    Спецпредложения                                
            div.main-footer__row3
                div.main-footer__layout.clearfix
                    p.main-footer__copyright.
                        © 2010–2016 Компания «Техномарт» <br>
                        Все права защищены
                    ul.main-footer__social
                        li
                            a(href="#")
                                i(class="icon-vk")
                        li
                            a(href="#")
                                i(class="icon-facebook")
                        li
                            a(href="#")
                                i(class="icon-instagramm")  
                    div.main-footer__about.clearfix
                        div.main-footer__callback
                            p Обратная связь
                            a(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
                        div.main-footer__development
                            p Разработано —
                            a(href="http://htmlacademy.ru") htmlacademy.ru
        script(src="js/script.js")                            
        
                        
                
                        
            
            
            
        

            
                        
                
                
                
             

                  
            
              
            
          
    